<style>
  .active
  {
    background:rgb(12, 7, 73);
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="z-index: 3;">
    <a class="navbar-brand text-bold" style="font-weight: bold;color:#6cdbed;">Walk-With</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if(!isAuthenticated){%>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link <%=path == '/home' ? 'active': ' ' %>" style="color:#6cdbed;" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%=path == '/admin/login' ? 'active': ' ' %>" style="color:#6cdbed;" href="/admin/login">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%=path == '/shop' ? 'active': ' ' %>" style="color:#6cdbed;" href="/shop">shop</a>
        </li>
       </ul>
       <%}%>
       <% if(isAuthenticated){%>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link <%=path == '/home' ? 'active': ' ' %>" style="color:#6cdbed;" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%=path == '/shop' ? 'active': ' ' %>" style="color:#6cdbed;" href="/shop">shop</a>
        </li>
          <li class="nav-item">
            <a class="nav-link <%=path == '/admin/admin-panel/add-product' ? 'active': ' ' %>" style="color:#6cdbed;" href="/admin/admin-panel/add-product">Add-Product</a>
        </li>
          <li class="nav-item">
            <a class="nav-link <%=path == '/admin/admin-panel/product-view' ? 'active': ' ' %>" style="color:#6cdbed;" href="/admin/admin-panel/product-view">Admin-Product</a>
        </li>
        <!-- <li class="nav-item">
          <a class="disabled nav-link <%=path == '/admin/productEdit' ? 'active': ' ' %>" type="hidden" style="color:#6cdbed;" href="/admin/productEdit">Product-Edit</a>
      </li> -->
      <li class="nav-item">
        <a href="#" class="nav-link">Logout</a>
      </li>
        </ul>
        <%}%>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>