<style>
  .active
  {
    background:rgb(46, 245, 202);
    border:3px solid rgb(255, 255, 255);
    border-radius:2rem;
  }
  nav{
    overflow: hidden;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light" style="background:transparent;z-index: 3;">
    <a class="navbar-brand text-bold" style="font-weight: bold;">Walk-With</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if(!isAuthenticated){%>
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          <a class="nav-link <%=path == '/shop' ? 'active': ' ' %>" href="/shop">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%=path == '/user' ? 'active': ' ' %> " href="/user">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%=path == '/' ? 'active': ' ' %>  " href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%=path == '/' ? 'active': ' ' %>  " href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Support</a>
          </li>

      </ul>
      <%}%>
      <% if(isAuthenticated){%>
          <ul class="navbar-nav mr-auto">
          
            <li class="nav-item active">
              <a class="nav-link <%=path == '/shop' ? 'active': ' ' %>" href="/shop">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%=path == '/' ? 'active': ' ' %>  " href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%=path == '/' ? 'active': ' ' %>  " href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%=path == '/' ? 'active': ' ' %> " href="#">Support</a>
              </li>
          <li class="nav-item">
            <a class="nav-link <%=path == '/user/logout' ? 'active': '' %>" href="/user/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%=path == '/user/cart' ? 'active': ' ' %>" href="/user/cart">cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%=path == '/user/game-center' ? 'active': ' ' %>" href="/user/game-center">Game-Center</a>
          </li>
      </ul>
      <%}%>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>